.hero {
	background-color: $blue-intro-email;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;

	&:after {
		content: '';
		position: absolute;
		width: 100%;
		height: 40vw;
		bottom: 0;
		background-image: url(../../images/bg-curvy-mobile.svg);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: bottom center;
		z-index: 0;

		@include breakpoint-up(medium) {
			background-image: url(../../images/bg-curvy-desktop.svg);
			height: 35vw;
		}
	}

	& > * {
		z-index: 1;
	}

	img {
		width: 100%;
		max-width: 20rem;

		@include breakpoint-up(medium) {
			max-width: 55rem;
		}
	}

	&__text {
		@include breakpoint-up(large) {
			max-width: 50rem;
		}
	}
}
